<!DOCTYPE html>
{% extends 'navbar.html' %}  {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Add Subtask</h1>
      <form method="post" action="{% url "add_subtask" todo.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Subtask Title:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter subtask title" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Subtask</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
</html>
