<!DOCTYPE html>
{% extends 'navbar.html' %}  {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Todo Details </h1>
      <p><strong>ID:</strong> {{ todo.id }}</p>
      <p><strong>Title:</strong> {{ todo.title }}</p>
      <p><strong>Description:</strong> {{ todo.description }}</p>
      <p><strong>Status:</strong> 
        {% if todo.completed %}
          <span class="text-success">Completed</span>
        {% else %}
          <span class="text-danger">Uncompleted</span>
        {% endif %}
      </p>
      
      <p><strong>Created by:</strong> {{ todo.created_by.username }}</p>
      <p><strong>Created at:</strong> {{ todo.created_at }}</p>

      <h2>Subtasks</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for subtask in subtasks %}
          <tr>
            <td>{{ subtask.title }}</td>
            <td>
              {% if subtask.completed %}
                <span class="text-success">Completed</span>
              {% else %}
                <span class="text-danger">Uncompleted</span>
              {% endif %}
            </td>
            <td>
              <a href="{% url "edit_subtask" subtask.id %}" class="btn btn-sm btn-warning">Edit Subtask</a>
            </td>
            <td>
              <form method="post" action="{% url "delete_subtask" subtask.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger">Delete Subtask</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <a href="{% url 'edit_todo' todo.id %}" class="btn btn-warning mb-2">Edit Todo</a>
      <form method="post" action="{% url 'delete_todo' todo.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Todo</button>
      </form>
      <br>
      <a href="{% url "add_subtask" todo.id %}" class="btn btn-primary">Add Subtask</a>

    </div>
  </div>
</div>

{% endblock %}
</html>